body {
    padding-top: 80px;
}

.navbar-custom {
    background-color: #8d1b3d;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    z-index: 10;
}

.navbar-buttons {
    border-radius: 4px;
    text-decoration: none;
    color: white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    margin: 10px 5px 10px 5px;
    padding: 8px;
}

.navbar-buttons:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

#navbar-home {
    color: white;
}

#comment-icon {
    color: #8d1b3d;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 10px;
    text-align: right;
}

.post-icon-and-number {
    position: absolute;
    top: 5px;
    right: 10px;
}

.list-group {
    z-index: 9;
}

.list-group-item a,
.list-group-item a:hover {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.topic-title {
    font-weight: 700;
    width: 90%;
    display: inline-block;
}

h1 {
    font-weight: 700;
}

.posted-by {
    position: relative;
    bottom: 10px;
}

.crud-buttons {
    border-radius: 4px;
    border: 2px solid #8d1b3d;
    text-decoration: none;
    color: black;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    width: 100px;
    margin: 2px;
    padding: 6px, 0px, 6px, 0px;
}

.crud-buttons:hover {
    background-color: #8d1b3d;
    text-decoration: none;
    color: white;
}

#back-topic-button {
    border-radius: 4px;
    border: 2px solid #8d1b3d;
    text-decoration: none;
    color: black;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    width: 130px;
    margin: 5px;
    padding: 6px, 0px, 6px, 0px;
}

#back-topic-button:hover {
    background-color: #8d1b3d;
    text-decoration: none;
    color: white;
}

#post-title-vote {
    margin-left: -20px;
}

.links {
    display: inline-block;
    width: 100px;
}

input {
    width: 50px;
}